@model HospitalSystem.Web.Models.EditPatientVM

<h2>Edit Patient</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Full Name</label><br />
        <input asp-for="FullName" />
    </div>

    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
    </div>

    <div>
        <label>Date of Birth</label><br />
        <input asp-for="DateOfBirth" type="date" />
    </div>

    <br />
    <button type="submit">Update</button>
</form>

<a href="/Patient">Back</a>
